<div class="row">
  <div class="col-12">
    <%= link("Create a Sheet", to: Routes.sheet_path(@conn, :index, job_codes: @job_codes)) %>
    <%= link("View my sheets", to: Routes.sheet_path(@conn, :worker_sheet_list)) %>
  </div>
</div>